.cardsGrid {
  gap: 1rem;
  place-content: center;
  /* place-items: center; */
}

.noScroll {
  overflow: hidden;
}

.characterCard {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.charImg {
  width: 100%;
  object-fit: cover;
}

.moreBtn {
  /* position: absolute;
  bottom: 0;
  right: 0; */
}

.charModal {
  height: 60%;
  overflow-y: auto;
}

.charModalImg {
  width: 40%;
  height: 40%;
  object-fit: cover;
}

.episodeList {
  word-wrap: break-word;
}
