.pgHeader {
  border-bottom: solid thin var(--clr-off-primary);
}

.pgNav {
  width: 60vw;
  overflow-x: auto;
}

.cardsGrid {
  gap: 1rem;
  place-content: center;
  place-items: center;
}

.noScroll {
  overflow: hidden;
}

.characterCard {
  width: 20rem;
}

.charImage {
  width: 100%;
  object-fit: cover;
}

.charModal {
  height: 60%;
  overflow-y: auto;
}

.charModalImg {
  width: 40%;
  height: 40%;
  object-fit: cover;
}

.episodeList {
  word-wrap: break-word;
}
