.pgHeader {
  border-bottom: solid thin var(--clr-off-primary);
}

.cardsGrid {
  gap: 1rem;
  place-content: center;
  place-items: center;
}

.characterCard {
  width: 20rem;
  /* height: 30rem; */
}

.charImage {
  width: 100%;
  object-fit: cover;
}
